.photo-grid {
    display: grid;
    margin: 0 auto;
    max-width: 1184px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (max-width: 1140px) {
    .photo-grid {
        margin: 0 48px 0;
    }
}

@media screen and (max-width: 984px) {
    .photo-grid {
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 568px) {
    .photo-grid {
        margin: 0 16px 0;
        gap: 12px;
    }
}