.places {
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1184px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 984px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .places {
        padding: 0;
    }
}