.cover__subtitle {
    font-family: 'Inter';
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0;
    z-index: 3;
}