.page__content {
    margin-bottom: 92px;
}

@media screen and (max-width: 984px) {
    .page__content {
        margin-bottom: 88px;
        
    }
}

@media screen and (max-width: 740px) {
    .page__content {
        margin-bottom: 64px;
        
    }
}
