.lead__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    text-align: center;
    margin: 56px 280px 32px;
}

@media screen and (max-width: 1140px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (max-width: 984px) {
    .lead__title {
        margin-top: 48px;
    }
}

@media screen and (max-width: 568px) {
    .lead__title {
        margin-top: 48px;
    }
}