.footer__links {
    display: flex;
    gap: 18px;
    justify-content: start;
    padding: 0;
    margin: 0;
    list-style: none;
}

@media screen and (max-width: 568px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
}