.lead__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    margin: 0 auto 64px;
    max-width: 640px;
}

@media screen and (max-width: 1140px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 984px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

 @media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 24px;
        max-width: 500px;
    }
}

@media screen and (max-width: 568px) {
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}
