.cover {
    max-width: 1184px;
    height: 740px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1184px) {
    .cover {
        height: 640px;
    }
}

@media screen and (max-width: 984px) {
    .cover {
        height: 480px;
    }
}

@media screen and (max-width: 568px) {
    .cover {
        height: 200px;
    }
}