.places__place {
    margin-bottom: 80px;
}

.places__place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 984px) {
    .places__place {
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 568px) {
    .places__place {
        margin-bottom: 50px;
    }
}