.cover__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    width: 560px;
    height: 152px;
    z-index: 3;
    margin: 0;
}