.cover__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
    top: 245px;
    left: 312px;
    bottom: 343px;
    right: 312px;
    /* position: absolute; */
    width: 560px;
    height: 152px;
    z-index: 3;
}