.place {
    display: grid;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-areas: 
        "title website"
        "image text";
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 80px;
}