.footer {
    font-family: "Inter", sans-serif;
    color: #fff;
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 0 24px;
}

@media  screen and (max-width: 1186px) {
    .footer {
        padding: 0 48px 24px;
    }
}

@media screen and (max-width: 984px) {
    .footer {
        padding: 0 24px 24px;
    }
}

@media screen and (max-width: 568px) {
    .footer {
        padding: 0 16px 24px;
    }
}